
@{
    ViewBag.Title = "ThongKe";
}
<script src="~/Scripts/ChartAdmin.js"></script>


<a href="#Table-Chart" onclick="CreateThongKe()" class="btn btn-info btn-sm" data-toggle="#"> <span>Thống Kê</span></a>
<a href="#link" class="btn btn-info btn-sm" data-toggle="#"> <span>Xuất Data</span></a>